mixin heading(title_1,title_2)
    .double-heading
        h5=title_1
        h3=title_2
mixin clients_icons(clients_content,icon_tag,icon)
    div(class=clients_content)
        a(class=icon_tag)
            i(class=icon)
